.page {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  min-height: 100vh;
  background: #0f0f0f;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 16px 80px;
}

.inner {
  width: 100%;
  max-width: 1200px;
}

